server:
  port: 8088

spring:
  datasource:
    url: jdbc:postgresql://shuttle.proxy.rlwy.net:39885/railway
    username: postgres
    password: oZNrfAmSBKAUxjVAdEmdBHZLVmSgLRFV
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
